		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/koponachiotosi" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/koponawisechief/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:kotosi@usc.edu" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<!--<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			-->
			</footer>

		<!-- Scripts -->
			<script src="home/kotosi/Downloads/homepage-master/homepage/assets/js/jquery.min.js"></script>
			<script src="home/kotosi/Downloads/homepage-master/homepage/assets/js/jquery.scrollex.min.js"></script>
			<script src="home/kotosi/Downloads/homepage-master/homepage/assets/js/skel.min.js"></script>
			<script src="home/kotosi/Downloads/homepage-master/homepage/assets/js/util.js"></script>
			<script src="home/kotosi/Downloads/homepage-master/homepage/assets/js/main.js"></script>

	</body>
</html>